.what-happening {
  background: #f7f9f9;
  border: none;
  border-radius: 20px;
  padding-top: 20px;
}
.what-happening > h3 {
  margin-bottom: 20px;
  padding: 0px 20px;
}
.show-more {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
